# local package
-e .

# external requirements
Sphinx
coverage
flake8
click
datasets
Markdown
pytest
python-dotenv
pytorch_lightning
sentencepiece
setuptools
torch
torchmetrics
tqdm
transformers
wandb
fastapi
protobuf
dvc
dvc[gs]