# local package
-e .

# external requirements
Sphinx
coverage
flake8
click==8.1.3
Markdown==3.4.1
datasets==2.8.0
pytest
python-dotenv==0.21.0
pytorch_lightning==1.8.6
sentencepiece==0.1.96
setuptools==63.4.1
torch==1.13.1
transformers==4.25.1
wandb==0.13.7
