# local package
-e .

# external requirements
Sphinx
coverage
flake8
click>=8.0.4
datasets>=2.4.0
Markdown>=3.3.7
pytest>=7.0.0
python-dotenv>=0.20.0
pytorch_lightning>=1.5.10
sentencepiece==0.1.96
setuptools==59.5.0
torch>=1.10.2
torchmetrics>=0.8.2
tqdm==4.64.1
transformers>=4.18.0
wandb==0.13.7
fastapi>=0.83.0
protobuf==3.19.5
